nav .container {
  padding: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.logo {
  position: relative;
  display: inline-flex;
  line-height: 25px;
  font-size: 25px;
  font-weight: 800;
  color: #ddd;
}

.navi {
  display: inline-block;
  float: right;
  padding: 0;
}

.item {
  display: inline-block;
}

.item a {
  margin-right: 20px;
  line-height: 25px;
  font-size: 15px;
  color: #ddd;
}

.jumbotron {
  text-align: center;
}

.jumbotron > .container-fluid {
  margin-top: 30px;
}

.content > .container {
  max-width: 75%;
}

.footer-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.footer-wrapper p {
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}

.sperate {
  width: 80%;
  margin: 0 auto;
}